<a href="https://colab.research.google.com/github/ketlingfernandes/2024_GF_DATA_5003_01_GR_/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- List of popular languages in Data Science
- Commonly used libraries
- Arithimatic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy

|Data Science Tools|
-------------------
|Jupyter|
| Rstudio |
|Apache Zappelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Ketlin Giani Fernandes Kenauth